@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf);
}
body {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 10px;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.main-navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #008363, #003293);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}
.main-navigation .navigation__button {
  width: 150px;
  height: 50px;
  border: 3px solid white;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.lernen,
.quiz {
  height: 100%;
}
.lernen .navigation,
.quiz .navigation,
.lernen .information,
.quiz .information,
.lernen .interaction,
.quiz .interaction {
  z-index: 1;
}
.lernen .navigation,
.quiz .navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  margin: 10px;
  opacity: 0.7;
}
.lernen .navigation .navigation_back,
.quiz .navigation .navigation_back {
  height: 30px;
}
.lernen .information,
.quiz .information {
  position: fixed;
  left: 0;
  top: 50px;
  right: 0;
  height: 50px;
  opacity: 0.7;
}
.lernen .information .information__text,
.quiz .information .information__text {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  height: 100%;
}
.lernen .interaction,
.quiz .interaction {
  height: 100%;
}
.lernen .interaction .interaction__functions,
.quiz .interaction .interaction__functions {
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}
.lernen .interaction .interaction__functions .interaction__scan-marker,
.quiz .interaction .interaction__functions .interaction__scan-marker {
  width: 80vw;
  height: 80vw;
}
.lernen .interaction .interaction__functions .interaction__scan-marker .scan-marker-border,
.quiz .interaction .interaction__functions .interaction__scan-marker .scan-marker-border {
  transition: stroke 0.5s ease;
}
.lernen .interaction .interaction__functions .interaction__scan-marker .interaction__scan-marker-svg,
.quiz .interaction .interaction__functions .interaction__scan-marker .interaction__scan-marker-svg {
  width: 100%;
  height: 100%;
}
.lernen .interaction .interaction__functions .interaction__scan-marker.interaction__scan-marker--success .scan-marker-border,
.quiz .interaction .interaction__functions .interaction__scan-marker.interaction__scan-marker--success .scan-marker-border {
  stroke: #008363;
}
.lernen .interaction .interaction__functions .interaction__scan-marker.interaction__scan-marker--error .scan-marker-border,
.quiz .interaction .interaction__functions .interaction__scan-marker.interaction__scan-marker--error .scan-marker-border {
  stroke: #950000;
}
.lernen .interaction .interaction__functions .interaction__scan-marker.interaction__scan-marker--info .scan-marker-border,
.quiz .interaction .interaction__functions .interaction__scan-marker.interaction__scan-marker--info .scan-marker-border {
  stroke: #003293;
}
.lernen .interaction .interaction__functions .interaction__confirm,
.quiz .interaction .interaction__functions .interaction__confirm {
  width: 40px;
  height: 40px;
  border: 3px solid white;
  margin: 40px auto;
  border-radius: 50%;
}
.lernen .instruction,
.quiz .instruction {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
  opacity: 0.7;
}
.lernen .instruction .instruction__text,
.quiz .instruction .instruction__text,
.lernen .instruction .instruction__counter,
.quiz .instruction .instruction__counter {
  text-align: center;
  transition: opacity 0.5s ease;
  margin: 5px;
}
.lernen .instruction .instruction__progress,
.quiz .instruction .instruction__progress {
  position: absolute;
  background-color: white;
  bottom: 0;
  height: 5px;
  width: 0;
  transition: all 0.5s ease;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  visibility: hidden;
}
.no-opacity {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */