@font-face {
  font-family: Roboto;
  src: url(/assets/Roboto-Regular.ttf);
}

body {
  color: white;
  opacity: 0.75;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 10px;
  // These Styles only serve as a temporary placeholder for developement
  background-image: url("/assets/images/backgroundPlaceholder.jpg");
  background-size: cover;
  height: calc(100vh - 20px);
}

a {
  // Override default styles for a-tags
  text-decoration: none;
  color: inherit;
}

.main-navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .navigation__button {
    width: 150px;
    height: 50px;
    border: 3px solid white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
}


@navigation-height: 30px;
@information-height: 50px;
@instruction-height: 75px;
.lernen, .quiz {
  height: 100%;

  .information, .interaction {
    .center();
  }

  .navigation {
    height: 30px;

    .navigation_back {
      background-size: cover;
      height: 100%;
    }
  }

  .information {
    height: 50px;
  }

  .interaction {
    height: calc(100% - @navigation-height - @information-height - @instruction-height);
    position: relative;

    .interaction__scan-marker {
      width: 80vw;
      height: 80vw;
      position: absolute;
      top: 10%;

      &.interaction__scan-marker--success .scan-marker-border {
        stroke: green;
      }

      &.interaction__scan-marker--error .scan-marker-border {
        stroke: red;
      }

      .scan-marker-border {
        stroke: white;
        fill: none;
        stroke-width: 1;
      }
    }

    .interaction__confirm {
      position: absolute;
      width: 40px;
      height: 40px;
      border: 2px solid white;
      border-radius: 50%;
      bottom: 10%;
    }
  }

  .instruction {
    height: 75px;
    display: grid;
    justify-content: center;
    text-align: center;

    .instruction__progress {
      height: 5px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
    }
  }
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}